:root {
  --canvas-primary: #e8b46f;
  --background-primary: #ffffff;
  --text-primary: #000000;
  --alpaca-green: #10763c;
  --accent-primary: #1baa59dc;
}

@font-face {
  font-family: 'timesnewroman';
  src: url('/resources/fonts/TimesNewerRoman-Regular.otf');
}

html, body {
  font-family: 'timesnewroman';
  overflow: hidden;
}

::-webkit-scrollbar {
  width: .75em;
}

::-webkit-scrollbar-track {
  border: 5px var(--background-primary);
	background-color: var(--background-primary);
  
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-primary);
  border: 2px solid var(--text-primary);
  width: 15px;
}